# Chapter  5: Visualizing Distributions

In [1]:
import datascience 
import pandas as pd 
import numpy as np
from datascience import Table
from datascience import *
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight')

In [2]:
data = Table.read_table('cleaned_data_new.csv')
data.show(3)

The unemployment rate in California as of today is $ 3.9 \% $. How does this value relate to local unemployment rates?

In [4]:
ca_unemployment_rate = 3.9

First, we could access the unemployment column from our dataset.

In [5]:
unemployment = data.column('unemployment')
unemployment

array([17.6, 12.3, 16.1, ...,  1.1,  2.6,  3.5])

Now, we can see how each unemployment rate relates to the California unemployment rate by subtracting.

In [6]:
#subtracting UNEMPLOYMENT column from CA unemployment rate

unemployment_difference = unemployment - ca_unemployment_rate
unemployment_difference

array([13.7,  8.4, 12.2, ..., -2.8, -1.3, -0.4])

We can now add this new array into our data. For now, we will just visualize the first and the last columns.

In [9]:
data.with_column('unemployment_diff', unemployment_difference).select(0, len(data) - 1)

census_tract | low_birth_weight
6.019e+09    | 7.44
6.071e+09    | 7.04
6.019e+09    | 10.16
6.077e+09    | 6.23
6.019e+09    | 4.5
6.0372e+09   | 7.35
6.077e+09    | 8.36
6.019e+09    | 7.83
6.03721e+09  | 6.71
6.019e+09    | 4.79
... (7547 rows omitted)