In [1]:
#Importing libraries
import sys
import numpy as np
from datascience import *
import pandas as pd
import matplotlib.pyplot as plt #just for experimenting, but need to convert everything to NumPy eventually

## Creating Visualizations for Categorical and Numerical Data

Let's begin to understand how and when to create certain visualizations for specific data types. Below, we will investigate a dataset from Zillow, a real estate company that many use to find housing of all different types. The dataset includes the median listing price of houses in a given U.S. city during a specific month and year.

### Objective of this notebook:
Can we compare the median housing prices of different CA cities with different types of visualizations?

#### Part 1: Data Cleaning

In [135]:
!ls

2009_UCB_Prices.csv  2019_UCB_Prices.csv  Zillow.ipynb
2009_UCSD_Prices.csv 2019_UCSD_Prices.csv zillow_city_data.csv

In [136]:
# Using the read_csv function of Pandas, import the raw Zillow dataset. Keep in mind that .head() returns the first couple of rows in the dataset.
unclean_zillow = pd.read_csv("zillow_city_data.csv")
unclean_zillow = unclean_zillow.rename(columns={"RegionName" : "City"}).drop(["RegionID", "SizeRank"], axis=1)
unclean_zillow.head()

,City,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,United States,182900.0,179300.0,175300.0,172100.0,171100.0,170800.0,170000.0,168600.0,165800.0,...,232500.0,232100.0,231800.0,232300.0,233500.0,234500.0,235300.0,237200.0,239900.0,NaN
1,"New York, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,388800.0,391100.0,392900.0,393900.0,395800.0,396700.0,399100.0,401600.0,407500.0,NaN
2,"Los Angeles-Long Beach-Anaheim, CA",470900.0,459400.0,443500.0,432500.0,418100.0,405800.0,391200.0,379200.0,366800.0,...,631000.0,636000.0,633700.0,632200.0,634300.0,638600.0,643600.0,646000.0,651700.0,659600.0
3,"Chicago, IL",253500.0,248700.0,232700.0,220900.0,218800.0,220200.0,224500.0,223800.0,217900.0,...,237700.0,238100.0,233700.0,227400.0,224900.0,224700.0,226700.0,229100.0,230900.0,231900.0
4,"Dallas-Fort Worth, TX",146000.0,144100.0,142200.0,141600.0,143700.0,145800.0,145900.0,144200.0,142900.0,...,251900.0,250200.0,250500.0,251900.0,253300.0,255900.0,258100.0,261200.0,263800.0,NaN

For visualization purposes, we will filter out all cities that are not in CA. To do this, we first create a new column `State` that corresponds each city with a state.

In [137]:
state = [unclean_zillow["City"][i][-2:] for i in np.arange(0, len(unclean_zillow))]
unclean_zillow["State"] = state
zillow_with_state = unclean_zillow
zillow_with_state

,City,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,State
0,United States,182900.0,179300.0,175300.0,172100.0,171100.0,170800.0,170000.0,168600.0,165800.0,...,232100.0,231800.0,232300.0,233500.0,234500.0,235300.0,237200.0,239900.0,NaN,es
1,"New York, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,391100.0,392900.0,393900.0,395800.0,396700.0,399100.0,401600.0,407500.0,NaN,NY
2,"Los Angeles-Long Beach-Anaheim, CA",470900.0,459400.0,443500.0,432500.0,418100.0,405800.0,391200.0,379200.0,366800.0,...,636000.0,633700.0,632200.0,634300.0,638600.0,643600.0,646000.0,651700.0,659600.0,CA
3,"Chicago, IL",253500.0,248700.0,232700.0,220900.0,218800.0,220200.0,224500.0,223800.0,217900.0,...,238100.0,233700.0,227400.0,224900.0,224700.0,226700.0,229100.0,230900.0,231900.0,IL
4,"Dallas-Fort Worth, TX",146000.0,144100.0,142200.0,141600.0,143700.0,145800.0,145900.0,144200.0,142900.0,...,250200.0,250500.0,251900.0,253300.0,255900.0,258100.0,261200.0,263800.0,NaN,TX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,"Carroll, IA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,127200.0,122200.0,123700.0,130800.0,127700.0,119900.0,120100.0,120000.0,128400.0,IA
621,"Storm Lake, IA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,110900.0,106600.0,123900.0,125700.0,119700.0,126800.0,133500.0,134800.0,NaN,IA
622,"Los Alamos, NM",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,349200.0,327500.0,338300.0,353000.0,378000.0,370100.0,377300.0,351700.0,336800.0,NM
623,"Spencer, IA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120300.0,126700.0,132300.0,123200.0,131600.0,129200.0,128800.0,118000.0,NaN,IA
624,"Craig, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,181800.0,171600.0,173100.0,176800.0,184500.0,165400.0,147000.0,180500.0,212500.0,CO

Next, let's select only the rows that carry data from CA cities and assign it to a new datafrane variable, `ca_cities`.

In [138]:
ca_cities = zillow_with_state[zillow_with_state["State"] == 'CA'].drop(["State"], axis=1)
ca_cities

,City,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
2,"Los Angeles-Long Beach-Anaheim, CA",470900.0,459400.0,443500.0,432500.0,418100.0,405800.0,391200.0,379200.0,366800.0,...,631000.0,636000.0,633700.0,632200.0,634300.0,638600.0,643600.0,646000.0,651700.0,659600.0
11,"San Francisco, CA",566900.0,522300.0,483500.0,457900.0,444400.0,425100.0,403500.0,372300.0,344000.0,...,789900.0,785400.0,782600.0,780200.0,770400.0,759500.0,766800.0,782400.0,789000.0,806000.0
12,"Riverside, CA",302800.0,285000.0,268900.0,257800.0,246000.0,235800.0,224600.0,217600.0,208400.0,...,361900.0,357200.0,357900.0,358400.0,359500.0,361800.0,368400.0,372900.0,373600.0,371000.0
16,"San Diego, CA",402100.0,395900.0,381200.0,369800.0,354000.0,342100.0,331700.0,321900.0,310600.0,...,554200.0,560300.0,559400.0,563600.0,562700.0,566600.0,563900.0,571200.0,577500.0,NaN
24,"Sacramento, CA",287500.0,274100.0,258800.0,243800.0,233500.0,229700.0,225400.0,220500.0,210800.0,...,394900.0,397200.0,398900.0,400000.0,398900.0,400900.0,401900.0,399200.0,401000.0,405000.0
33,"San Jose, CA",679100.0,642900.0,617300.0,598100.0,584200.0,564600.0,532100.0,504000.0,467300.0,...,1040900.0,1021200.0,1019900.0,1019400.0,1028500.0,1027500.0,1016000.0,1006600.0,1017300.0,1027200.0
55,"Fresno, CA",241800.0,233500.0,218100.0,205200.0,196700.0,187900.0,182100.0,172700.0,165500.0,...,261800.0,258800.0,257900.0,255500.0,260500.0,261600.0,264200.0,263400.0,267300.0,269900.0
62,"Bakersfield, CA",213200.0,205000.0,199800.0,190800.0,179700.0,170000.0,163400.0,158400.0,152300.0,...,229600.0,229300.0,232200.0,233400.0,232500.0,231600.0,230900.0,234200.0,NaN,NaN
65,"Ventura, CA",474500.0,455000.0,442200.0,426700.0,416200.0,401500.0,396600.0,385100.0,372400.0,...,595300.0,596400.0,596200.0,579600.0,581400.0,581500.0,595900.0,599100.0,603300.0,604200.0
75,"Stockton, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,355500.0,358000.0,362700.0,369400.0,367900.0,365500.0,360300.0,360800.0,366900.0,371500.0
100,"Modesto, CA",239200.0,231600.0,217000.0,208800.0,193500.0,184500.0,177500.0,170100.0,165000.0,...,305200.0,311300.0,312100.0,315600.0,316600.0,316800.0,320700.0,324900.0,327800.0,328100.0
103,"Santa Rosa, CA",453200.0,422100.0,411200.0,394400.0,379300.0,364300.0,355500.0,347100.0,334600.0,...,606800.0,603600.0,597000.0,600700.0,598000.0,612400.0,614300.0,623600.0,613800.0,NaN
109,"Visalia, CA",196100.0,189000.0,181600.0,173700.0,172200.0,169100.0,166600.0,163400.0,158500.0,...,226500.0,230800.0,227400.0,227200.0,224900.0,226200.0,230200.0,234100.0,233800.0,NaN
116,"Santa Maria-Santa Barbara, CA",415200.0,413000.0,392800.0,353000.0,344100.0,336300.0,323000.0,307800.0,289700.0,...,553900.0,560400.0,573900.0,577400.0,569700.0,572400.0,563400.0,569300.0,582200.0,596400.0
119,"Salinas, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,554700.0,553500.0,561000.0,566700.0,587800.0,590100.0,622400.0,610300.0,633200.0,620300.0
120,"Vallejo, CA",332600.0,327200.0,309800.0,291500.0,274800.0,261300.0,254800.0,243400.0,234800.0,...,419500.0,420400.0,424000.0,420000.0,425100.0,430100.0,435400.0,438400.0,437800.0,NaN
160,"San Luis Obispo, CA",482100.0,470700.0,449200.0,456600.0,449200.0,445200.0,426600.0,413800.0,404000.0,...,579300.0,592100.0,594900.0,601400.0,590000.0,586700.0,589500.0,598200.0,600400.0,594700.0
162,"Santa Cruz, CA",608700.0,612900.0,555200.0,541400.0,539300.0,525500.0,500200.0,468600.0,441700.0,...,794900.0,792200.0,781100.0,765000.0,768500.0,769300.0,744900.0,744300.0,753200.0,799400.0
165,"Merced, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,257200.0,260800.0,264400.0,274100.0,268300.0,264400.0,263000.0,273700.0,276500.0,NaN
184,"Chico, CA",253800.0,241100.0,236600.0,240600.0,234500.0,238900.0,235300.0,230100.0,222800.0,...,345200.0,338900.0,329400.0,330100.0,324300.0,329100.0,327100.0,329000.0,328000.0,319400.0
217,"Redding, CA",241700.0,242200.0,239400.0,236000.0,229100.0,221800.0,216100.0,210100.0,204100.0,...,272800.0,271400.0,274400.0,269200.0,267600.0,262900.0,269000.0,272100.0,271200.0,267200.0
219,"El Centro, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,235300.0,235000.0,233400.0,233800.0,236200.0,231700.0,233300.0,230100.0,237400.0,NaN
226,"Yuba City, CA",224300.0,212200.0,203800.0,191100.0,183900.0,176400.0,176200.0,174900.0,171800.0,...,295200.0,297400.0,300600.0,297100.0,296000.0,293800.0,300900.0,300100.0,305100.0,NaN
246,"Hanford, CA",200600.0,197400.0,197200.0,201600.0,203400.0,194800.0,195600.0,186500.0,188200.0,...,224200.0,221400.0,228500.0,232300.0,235600.0,231800.0,239600.0,245000.0,244800.0,NaN
251,"Madera, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,263700.0,264800.0,262800.0,271900.0,275300.0,274000.0,260900.0,260400.0,269800.0,278000.0
269,"Napa, CA",489100.0,479000.0,464000.0,441600.0,417100.0,415100.0,417700.0,415000.0,398800.0,...,644100.0,657100.0,682800.0,689200.0,671000.0,671500.0,683800.0,708300.0,694100.0,695900.0
271,"Eureka, CA",297700.0,293300.0,281400.0,276900.0,264200.0,268900.0,265200.0,268500.0,264600.0,...,311900.0,307700.0,305500.0,315700.0,316900.0,314700.0,310400.0,301400.0,307900.0,305400.0
337,"Truckee, CA",421600.0,423300.0,407100.0,398500.0,378700.0,378100.0,369900.0,363000.0,348000.0,...,450300.0,463100.0,443700.0,447100.0,447800.0,454600.0,449400.0,452900.0,458600.0,476100.0
366,"Ukiah, CA",350600.0,329300.0,325100.0,341800.0,334500.0,325800.0,309100.0,328200.0,328500.0,...,397700.0,369600.0,368300.0,364100.0,370700.0,376400.0,369600.0,395500.0,398300.0,NaN
427,"Clearlake, CA",236900.0,236800.0,232100.0,217900.0,212700.0,203000.0,204200.0,199300.0,193800.0,...,246600.0,259600.0,256400.0,256100.0,244900.0,239900.0,249200.0,253000.0,264100.0,NaN
432,"Red Bluff, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,240200.0,229100.0,234000.0,223100.0,220300.0,221200.0,226500.0,221700.0,223100.0,NaN
458,"Sonora, CA",278300.0,269000.0,270500.0,269200.0,266600.0,257100.0,286300.0,281900.0,275700.0,...,288100.0,279400.0,287800.0,281100.0,280700.0,269900.0,276400.0,282500.0,286200.0,NaN
595,"Crescent City, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,228200.0,232200.0,231700.0,284400.0,285700.0,292900.0,242700.0,230200.0,219000.0,228200.0

Let's create two arrays, `year_2009` and `year_2019` as our objective is to compare housing prices that are a decade apart.

In [139]:
year_2009 = ["2009-01", "2009-02", "2009-03", "2009-04", "2009-05", "2009-06", "2009-07", "2009-08", "2009-09", "2009-10", "2009-11", "2009-12"]
year_2019 = ["2019-01", "2019-02", "2019-03", "2019-04", "2019-05", "2019-06", "2019-07", "2019-08", "2019-09", "2019-10", "2019-11", "2019-12"]

Let's break `ca_cities` into different years for visualization. Let's create `ca_cities_2019` and `ca_cities_2009` to compare different housing prices across CA

In [140]:
ca_cities_2019 = ca_cities[["City", "2019-01", "2019-02", "2019-03", "2019-04", "2019-05", "2019-06", "2019-07", "2019-08", "2019-09", "2019-10", "2019-11", "2019-12"]]
ca_cities_2019.head(5)

,City,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
2,"Los Angeles-Long Beach-Anaheim, CA",625400,624500.0,631000.0,636000.0,633700.0,632200.0,634300.0,638600.0,643600.0,646000.0,651700.0,659600.0
11,"San Francisco, CA",785800,790400.0,789900.0,785400.0,782600.0,780200.0,770400.0,759500.0,766800.0,782400.0,789000.0,806000.0
12,"Riverside, CA",359300,361300.0,361900.0,357200.0,357900.0,358400.0,359500.0,361800.0,368400.0,372900.0,373600.0,371000.0
16,"San Diego, CA",551900,556200.0,554200.0,560300.0,559400.0,563600.0,562700.0,566600.0,563900.0,571200.0,577500.0,NaN
24,"Sacramento, CA",392800,393500.0,394900.0,397200.0,398900.0,400000.0,398900.0,400900.0,401900.0,399200.0,401000.0,405000.0

In [141]:
ca_cities_2009 = ca_cities[["City", "2009-01", "2009-02", "2009-03", "2009-04", "2009-05", "2009-06", "2009-07", "2009-08", "2009-09", "2009-10", "2009-11", "2009-12"]]
ca_cities_2009.head(5)

,City,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,2009-08,2009-09,2009-10,2009-11,2009-12
2,"Los Angeles-Long Beach-Anaheim, CA",340900.0,331400.0,325300.0,319700.0,316500.0,322900.0,333000.0,341700.0,347900.0,353000.0,359900.0,362300.0
11,"San Francisco, CA",313700.0,304400.0,287100.0,274900.0,274800.0,296100.0,320400.0,339900.0,355200.0,364600.0,373600.0,384400.0
12,"Riverside, CA",188900.0,180100.0,172300.0,161700.0,155700.0,153700.0,154000.0,156200.0,158000.0,162300.0,166600.0,169700.0
16,"San Diego, CA",292500.0,289300.0,284200.0,285500.0,284200.0,291100.0,297900.0,308300.0,314100.0,318700.0,321600.0,324800.0
24,"Sacramento, CA",196800.0,191400.0,189700.0,186900.0,189100.0,190800.0,197500.0,202300.0,205700.0,206600.0,207500.0,208700.0

Below, we will create subsets of the data and split them into a csv file, so that each university has both 2009 and 2019 data.

### UCSD HOUSING PRICES

In [142]:
ucsd = ca_cities[ca_cities["City"] == 'San Diego, CA'].fillna(new_val)
new_val = {'2019-12': 583100} #Fill in NaN value with data from other sources
ucsd_2019 = ucsd[year_2019].transpose().rename(columns={16: "UCSD Price"}).reset_index().drop(["index"], axis=1)
ucsd_2019.to_csv('2019_UCSD_Prices.csv', index=False)

In [143]:
ucsd_2009 = ucsd[year_2009].transpose().rename(columns={16: "UCSD Price"}).reset_index().drop(["index"], axis=1)
ucsd_2009.to_csv('2009_UCSD_Prices.csv', index=False)

In [148]:
ucsd2019 = Table.read_table("2019_UCSD_Prices.csv")["UCSD Price"]
ucsd2019

array([551900., 556200., 554200., 560300., 559400., 563600., 562700.,
       566600., 563900., 571200., 577500., 583100.])

In [207]:
ucsd_2009["UCSD 2019 Price"] = ucsd_2019["UCSD Price"]
ucsd = ucsd_2009.rename(columns={"UCSD Price" : "UCSD 2009 Price"})
ucsd.to_csv('UCSD_Prices.csv', index=False)
#ucsd

### UC BERKELEY PRICES

In [144]:
ucb = ca_cities[ca_cities["City"] == 'San Francisco, CA']
ucb_2019 = ucb[year_2019].transpose().rename(columns={11: "UCB Price"}).reset_index().drop(["index"], axis=1)
ucb_2019.to_csv('2019_UCB_Prices.csv', index=False)

In [145]:
ucb = ca_cities[ca_cities["City"] == 'San Francisco, CA']
ucb_2009 = ucb[year_2009].transpose().rename(columns={11: "UCB Price"}).reset_index().drop(["index"], axis=1)
ucb_2009.to_csv('2009_UCB_Prices.csv', index=False)

In [208]:
ucb_2009["UCB 2019 Price"] = ucb_2019["UCB Price"]
ucb = ucb_2009.rename(columns={"UCB Price" : "UCB 2009 Price"})
ucb.to_csv('UCB_Prices.csv', index=False)

### UC SANTA CRUZ PRICES

In [176]:
ucsc = ca_cities[ca_cities["City"] == 'Santa Cruz, CA']
ucsc_2019 = ucsc[year_2019].transpose().rename(columns={162: "UCSC Price"}).reset_index().drop(["index"], axis=1)
ucsc_2019.to_csv('2019_UCSC_Prices.csv', index=False)
#ucsc_2019

In [ ]:
ucsc = ca_cities[ca_cities["City"] == 'Santa Cruz, CA']
ucsc_2009 = ucsc[year_2009].transpose().rename(columns={162: "UCSC Price"}).reset_index().drop(["index"], axis=1)
ucsc_2009.to_csv('2009_UCSC_Prices.csv', index=False)

In [212]:
ucsc_2009["UCSC 2019 Price"] = ucsc_2019["UCSC Price"]
ucsc = ucsc_2009.rename(columns={"UCSC Price" : "UCSC 2009 Price"})
ucsc.to_csv('UCSC_Prices.csv', index=False)
#ucsc_2009

### UC SANTA BARBARA PRICES

In [157]:
ucsb = ca_cities[ca_cities["City"] == 'Santa Maria-Santa Barbara, CA']
ucsb_2019 = ucsb[year_2019].transpose().rename(columns={116: "UCSB Price"}).reset_index().drop(["index"], axis=1)
ucsb_2019.to_csv('2019_UCSB_Prices.csv', index=False)
#ucsc_2019

In [158]:
ucsb = ca_cities[ca_cities["City"] == 'Santa Maria-Santa Barbara, CA']
ucsb_2009 = ucsb[year_2009].transpose().rename(columns={116: "UCSB Price"}).reset_index().drop(["index"], axis=1)
ucsb_2009.to_csv('2009_UCSB_Prices.csv', index=False)

In [213]:
ucsb_2009["UCSB 2019 Price"] = ucsb_2019["UCSB Price"]
ucsb = ucsb_2009.rename(columns={"UCSB Price" : "UCSB 2009 Price"})
ucsb.to_csv('UCSB_Prices.csv', index=False)

### UCLA PRICES

In [161]:
ucla = ca_cities[ca_cities["City"] == 'Los Angeles-Long Beach-Anaheim, CA']
ucla_2019 = ucla[year_2019].transpose().rename(columns={2: "UCLA Price"}).reset_index().drop(["index"], axis=1)
ucla_2019.to_csv('2019_UCLA_Prices.csv', index=False)

In [162]:
ucla = ca_cities[ca_cities["City"] == 'Los Angeles-Long Beach-Anaheim, CA']
ucla_2009 = ucla[year_2009].transpose().rename(columns={2: "UCLA Price"}).reset_index().drop(["index"], axis=1)
ucla_2009.to_csv('2009_UCLA_Prices.csv', index=False)

In [214]:
ucla_2009["UCLA 2019 Price"] = ucla_2019["UCLA Price"]
ucla = ucla_2009.rename(columns={"UCLA Price" : "UCLA 2009 Price"})
ucla.to_csv('UCLA_Prices.csv', index=False)

### UC RIVERSIDE PRICES

In [163]:
ucr = ca_cities[ca_cities["City"] == 'Riverside, CA']
ucr_2019 = ucr[year_2019].transpose().rename(columns={12: "UCR Price"}).reset_index().drop(["index"], axis=1)
ucr_2019.to_csv('2019_UCR_Prices.csv', index=False)

In [164]:
ucr = ca_cities[ca_cities["City"] == 'Riverside, CA']
ucr_2009 = ucr[year_2009].transpose().rename(columns={12: "UCR Price"}).reset_index().drop(["index"], axis=1)
ucr_2009.to_csv('2009_UCR_Prices.csv', index=False)

In [215]:
ucr_2009["UCR 2019 Price"] = ucr_2019["UCR Price"]
ucr = ucr_2009.rename(columns={"UCR Price" : "UCR 2009 Price"})
ucr.to_csv('UCR_Prices.csv', index=False)

### UC MERCED PRICES

In [177]:
new_val = {'2019-12': 279400}
ucm = ca_cities[ca_cities["City"] == 'Merced, CA'].fillna(new_val)
ucm_2019 = ucm[year_2019].transpose().rename(columns={165: "UCM Price"}).reset_index().drop(["index"], axis=1)
ucm_2019.to_csv('2019_UCM_Prices.csv', index=False)

In [183]:
new_val = {'2009-08':107400,'2009-07': 106200, '2009-06': 104600, '2009-05': 102100,'2009-04': 100300, '2009-03': 99200, '2009-02': 97500, '2009-01': 95800}
ucm = ca_cities[ca_cities["City"] == 'Merced, CA'].fillna(new_val)
ucm_2009 = ucm[year_2009].transpose().rename(columns={165: "UCM Price"}).reset_index().drop(["index"], axis=1)
ucm_2009.to_csv('2009_UCM_Prices.csv', index=False)

In [ ]:
ucm_2009["UCM 2019 Price"] = ucm_2019["UCM Price"]
ucm = ucm_2009.drop(["2019"], axis=1).rename(columns={"UCM Price" : "UCM 2009 Price"})
ucm.to_csv('UCM_Prices.csv', index=False)

### UC IRVINE

In [217]:
ca_cities[ca_cities["City"] == 'Santa Ana, CA']

Empty DataFrame
Columns: [City, 2008-03, 2008-04, 2008-05, 2008-06, 2008-07, 2008-08, 2008-09, 2008-10, 2008-11, 2008-12, 2009-01, 2009-02, 2009-03, 2009-04, 2009-05, 2009-06, 2009-07, 2009-08, 2009-09, 2009-10, 2009-11, 2009-12, 2010-01, 2010-02, 2010-03, 2010-04, 2010-05, 2010-06, 2010-07, 2010-08, 2010-09, 2010-10, 2010-11, 2010-12, 2011-01, 2011-02, 2011-03, 2011-04, 2011-05, 2011-06, 2011-07, 2011-08, 2011-09, 2011-10, 2011-11, 2011-12, 2012-01, 2012-02, 2012-03, 2012-04, 2012-05, 2012-06, 2012-07, 2012-08, 2012-09, 2012-10, 2012-11, 2012-12, 2013-01, 2013-02, 2013-03, 2013-04, 2013-05, 2013-06, 2013-07, 2013-08, 2013-09, 2013-10, 2013-11, 2013-12, 2014-01, 2014-02, 2014-03, 2014-04, 2014-05, 2014-06, 2014-07, 2014-08, 2014-09, 2014-10, 2014-11, 2014-12, 2015-01, 2015-02, 2015-03, 2015-04, 2015-05, 2015-06, 2015-07, 2015-08, 2015-09, 2015-10, 2015-11, 2015-12, 2016-01, 2016-02, 2016-03, 2016-04, 2016-05, ...]
Index: []

[0 rows x 143 columns]

Notice above that Irvine does not have any data. On the lab, it is clear that only 7 of the UC's have necessary data. The rest, are unfortunately excluded from the investigation. Additionally, it is worth noting the drawbacks in this dataset. The data does not correspond directly to campus housing as it includes housing from entire cities. This will be made especially clear in lab, though this is a point worth mentioning if this data is taken to a further investigation.